/* general settings */

.subheader{
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 50px;
}

.dark {
    background-color: orange;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.achievements p, .values p, .contacts p {
	font-size: 200%;
}

/* offer */
.offer img {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0;
}
.offer p{
	font-size : 400%;
	margin-bottom: 100px;
}

/* manifesto */

.values [class^="icon-"]:before,
.values [class*=" icon-"]:before {
    border-radius: 50%;
    border: 2px solid black;
    line-height: 1.7em;
    height: 2em;
    width: 2em;
}
/* people */

.people [class*="block-grid-"] > li {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}

.people img {
    border-radius: 50%;
}

.people h2 {}

.people p {}

.people .hashtags {
    text-transform: uppercase;
}
/* what we achieved */

.big-number {
    font-size: 100px;
}
/* portfolio */

.companies a {
    text-transform: uppercase;
}
